@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600&display=swap");

:root {
    --oswald: 'Oswald', sans-serif;

    --white-color: #fff;
    --black-color: #000;
    --black-text-color: #ffffff;
    --primary-color: #14df9f;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--oswald);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

a.vivre-btn {
    padding: 15px 40px;
    background-color: var(--black-color);
    color: var(--white-color);
}

.vivre-btn:hover {
    text-decoration: none;
    background-image: linear-gradient(to right, #aab2fa, #e248e7);
    color: var(--white-color);
    transition: 0.5s;
}

.large-container {
    margin: 0px auto;
    width: 1140px;
}

@media (max-width: 768px) {
    a.vivre-btn {
        padding: 10px 25px;
        background-color: var(--black-color);
        color: var(--white-color);
    }
}


/* Heeader */

header {
    position: sticky;
    z-index: 999;
    top: 0;
    padding: 12px 0px;
    background-color: var(--white-color);
}

header .topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    width: 1140px;
}

header .logo img{
    height: 48px;
}

header nav{
    display: flex;
    column-gap: 24px;
}

header nav a{
    text-decoration: none;
    color: var(--black-color);
}

header nav a:hover{
    color: var(--primary-color);
}

/* Footer */

.footer {
    height: auto !important;
    width: 100% !important;
    background-color: var(--black-color) !important;
    color: var(--black-text-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .footer-block {
    width: 240px;
}

.footer .footer-logo {
    height: auto;
    width: 100%;
}

.footer .footer-logo img {
    height: 60px;
    padding: 10px 0px;
}

.footer .footer-social-links {
    height: 60px;
    display: flex;
}

.footer .social-links {
    line-height: 60px;
}

.footer .float-links {
    float: right;
}

.footer .fa {
    padding: 20px;
    font-size: 18px;
    padding: 0px !important;
}

.footer a.social-link {
    margin: 5px;
    padding: 7px;
    border: 1px solid var(--white-color);
}

footer.footer a {
    font-size: 12px;
    color: var(--black-text-color);
    opacity: 0.7;
    margin: 0px;
}

.footer a:hover,
.footer .footer-slogan:hover,
.footer .para-block:hover {
    color: var(--black-blackolor);
    opacity: 1;
}

.footer h4 {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 200;
}

.footer .para-block {
    display: block;
    font-size: 12px;
    color: var(--black-text-color);
    opacity: 0.7;
    margin: 0px;
}

.footer .para {
    padding: 4px 0px;
}

.block {
    display: block;
    padding: 2px 0px;
}

@media (max-width: 768px) {
    .footer .footer-block {
        width: 120px;
    }

    footer.footer .float-links {
        float: left;
    }
}

a.vivre-btn {
    padding: 15px 40px;
    background-color: var(--black-color);
    color: var(--white-color);
}

.vivre-btn:hover {
    text-decoration: none;
    background-image: linear-gradient(
        to right,
        rgb(170, 178, 250),
        rgb(226, 72, 231));
    color: var(--white-color);
    transition: .5s;
}

@media (max-width: 768px) {
    a.vivre-btn {
        padding: 10px 25px;
        background-color: var(--black-color);
        color: var(--white-color);
    }
}


/* Hero */

.hero {
    height: 720px;
    width: 100%;
}

.hero-box {
    position: relative;
    height: 720px;
    width: 100%;
}

.hero-background {
    position: absolute;
    height: 720px;
    width: 100%;
}

.hero-background img {
    object-fit: cover;
    height: 720px;
    width: 100%;
}

.hero-cover {
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.474);
    display: flex;
    align-items: center;
    padding: 0% 8%;
}

.hero-slogan {
    width: 440px;
    color: var(--white-color);
    text-align: right;
}

.hero-slogan h3 {
    padding-bottom: 10px;
    font-size: 120px;
    line-height: 1em;
}

.hero-content {
    width: 100%;
    color: var(--white-color);
}

.hero-content p {
    padding-bottom: 20px;
    font-size: 34px;
    font-weight: 200;
}


@media (max-width: 768px) {

    .hero-image {
        height: 450px;
        width: 100%;
    }

    .hero-image-box {
        position: relative;
        height: 450px;
        width: 100%;
    }

    .hero-image-background-image {
        position: absolute;
        height: 450px;
        width: 100%;
    }

    .hero-image-background-image img {
        object-fit: cover;
        height: 450px;
        width: 100%;
    }

    .hero-image-slogan {
        position: absolute;
        bottom: 0;
        padding: 0% 0% 10px 23px;
        height: auto;
        width: 40%;
        color: var(--white-color);
    }

    .hero-image-slogan h3 {
        font-size: 56px;
    }

    .hero-image-content {
        position: absolute;
        right: 0;
        padding: 25px 30px 20px 0px;
        height: auto;
        width: 80%;
        color: var(--white-color);
    }

    .hero-image-content p {
        padding-bottom: 20px;
        font-size: 16px;
        font-weight: 200;
        text-align: right;
    }
}


.heading {
    padding: 40px 30px;
}

.heading-content h1 {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.heading-content p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 200;
    padding: 2px 0px;
}

@media (max-width: 768px) {
    .heading {
        padding: 30px;
    }
}

.heading-two {
    padding: 0px 30px;
}

.heading-two-content h1 {
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 300;
}

@media (max-width: 768px) {
    .heading-two {
        padding: 30px;
    }

    .heading-two-content h1 {
        font-size: 24px;
        font-weight: 500;
    }
}

.intro-block {
    padding: 100px 5% 0px 5%;
    height: auto;
    width: 100%;
}

.intro-block-box {
    position: relative;
    height: auto;
    width: 100%;
}

.intro-block-image {
    height: 500px;
    width: 100%;
}

.intro-block-image img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.intro-block-content {
    display: flex;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

.intro-block-content h1 {
    position: absolute;
    top: -60px;
    font-size: 80px;
    padding-left: 5%;
}

.intro-block-content p {
    flex-basis: 70%;
    padding: 30px 30px 30px 0px;
    font-size: 18px;
    font-weight: 300;
}

.intro-block-content h4 {
    flex-basis: 30%;
    padding: 30px 0px;
    font-size: 32px;
    text-align: right;
    font-weight: 400;
}

@media (max-width: 768px) {
    .intro-block {
        position: relative;
        padding: 50px 5% 30px 5%;
        height: auto;
        width: 100%;
    }

    .intro-block-image {
        height: 300px;
        width: 100%;
    }

    .intro-block-image img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

    .intro-block-content {
        display: block;
        position: relative;
        font-family: 'Oswald', sans-serif;
    }

    .intro-block-content h1 {
        position: absolute;
        top: -20px;
        font-size: 28px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .intro-block-content p {
        flex-basis: none;
        padding: 30px 0px 20px 0px;
        margin-bottom: 0px;
        font-size: 16px;
        font-weight: 300;
    }

    .intro-block-content h4 {
        flex-basis: none;
        padding: 0px;
        font-size: 18px;
        text-align: left;
        font-weight: 400;
    }
}

.content-block {
    height: auto;
    width: 100%;
    padding: 60px 0px;
}

.content-block-image {
    min-height: 500px;
    width: 100%;
}

.content-block-image img {
    min-height: 500px;
    width: 100%;
    object-fit: cover;
}

.content-block-content {
    padding: 100px 0px 50px 50px;
    font-family: 'Oswald', sans-serif;
}

.content-block-content {
    padding: 100px 0px 50px 50px;
}

.content-block-two-content {
    padding: 100px 50px 50px 0px;
}

.content-block-content h1 {
    font-size: 34px;
}

.content-block-content p {
    font-size: 18px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .content-block {
        height: auto;
        width: 100%;
        padding: 10px 20px;
    }

    .content-block-image {
        min-height: 350px;
        width: 100%;
    }

    .content-block-image img {
        min-height: 350px;
        width: 100%;
        object-fit: cover;
    }

    .content-block-content {
        padding: 30px 0px 0px 0px;
    }

    .content-block-two-content {
        padding: 30px 0px;
    }

    .content-block-content h1 {
        font-size: 24px;
    }

    .content-block-content p {
        font-size: 16px;
        font-weight: 300;
    }

    .content-block-content h4 {
        font-size: 18px;
    }
}

.offers {
    padding: 3px 0px;
}

.offers-gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.offers-box {
    height: 500px;
    width: 100%;
    position: relative;
}

.offers-image {
    position: absolute;
    height: 500px;
    width: 100%;
}

.offers-image-padding {
    padding-right: 3px;
}

.offers-image img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.offers-content {
    background-image: linear-gradient(to bottom, rgba(248, 248, 248, 0), var(--white-color));
    bottom: 0px;
    position: absolute;
    padding: 50px 20px;
}

.offers-content h1 {
    padding-bottom: 10px;
}

.offers-content p {
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .offers-gridbox {
        display: grid;
        grid-template-columns: 1fr;
    }

    .offers-box {
        max-height: 500px;
        width: 100%;
    }

    .offers-image-padding {
        padding-right: 0px;
    }

    .offers-image {
        height: auto;
        max-height: 500px;
    }

    .offers-content p {
        font-size: 16px;
        padding-bottom: 30px;
    }
}

.team-gallery {
    height: auto;
    width: 100%;
    padding: 60px 0px;
}

.team-card {
    height: 600px;
    width: 100%;
    padding-bottom: 30px;
}

.team-content {
    font-family: 'Oswald', sans-serif;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 20px 15px;
}

.team-image {
    height: 400px;
    width: 100%;
}

.team-image img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .team-card {
        height: auto;
        width: 100%;
    }

    .team-content {
        font-family: 'Oswald', sans-serif;
        height: auto;
        width: 100%;
        text-align: center;
        padding: 15px 5px;
    }

    .team-image {
        height: 250px;
        width: 100%;
    }

    .team-image img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
}

.image-gallery {
    padding-top: 60px;
    padding-bottom: 120px;
    height: auto;
    width: 100%;
}

.image-gallery-gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image-gallery-image {
    max-height: 500px;
    max-width: 100%;
}

.image-gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .image-gallery-gridbox {
        grid-template-columns: 1fr 1fr;
    }

    .image-gallery {
        padding: 30px 0px;
        height: auto;
        width: 100%;
    }
}

.brand-gallery {
    padding: 0px 0px 50px 0px;
    height: auto;
    width: 100%;
}

.item {
    position: relative;
    height: 180px;
    width: 100%;
}

@media (min-width: 768px) {
    .item img {
        position: absolute;
        padding: 15px;
        height: auto;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 768px) {
    .item img {
        position: relative;
        padding: 15px;
        height: auto;
        width: 100%;
    }

    .item {
        height: 180px;
    }
}

@media (max-width: 380px) {
    .item {
        height: 150px;
    }
}