$navbar-bg-color:#fff;
$navbar-text-color: #0c0c0c;

$footer-bg-color: #0c0c0c;
$footer-text-color: #fff;

$btn-color: #0c0c0c;

$oswald: 'Oswald', sans-serif;

body{
    font-family: $oswald !important;
    font-weight: 300;
}

#wrapwrap{
    font-family: $oswald !important;
}

.vivre_btn{
	padding: 15px 40px;
	background-color: #000;
	color: #fff;
}

.vivre_btn:hover{
	text-decoration: none;
	background-image: linear-gradient(to right, rgb(170, 178, 250), rgb(226, 72, 231));
	color: #fff;
	transition: .5s;
}

button {
    border-width: 0px;
}

// buttons

a{
    color: $btn-color;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

// awesome font

.fa{
    padding: 0px 5px !important;
}

// primary button

.btn-primary{
    padding: 12px 20px !important;
    background-color: $btn-color;
    box-shadow: 0 4px 7px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.25);
}

.btn-primary:hover {
    color: #FFFFFF !important;
    background-color: rgba( $btn-color, .7 );
    border-color: $btn-color;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #FFFFFF;
    background-color:$btn-color;
    border-color: $btn-color;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 4px 7px rgba(0,0,0,0.25) !important;
    -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.25) !important;
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.25) !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #FFFFFF;
    background-color:$btn-color;
    border-color: $btn-color;
}

.btn-primary:active,
.btn-primary.active {
	color: #FFFFFF;
    background-color:$btn-color;
    border-color: $btn-color;
}

// secondary button

.btn-secondary{
    padding: 12px 20px !important;
    background-color: $btn-color;
    box-shadow: 0 4px 7px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.25);
}

.btn-secondary:hover {
    color: #FFFFFF !important;
    background-color: rgba( $btn-color, .7 );
    border-color: $btn-color;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #FFFFFF;
    background-color: $btn-color;
    border-color: $btn-color;
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 4px 7px rgba(0,0,0,0.25) !important;
    -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.25) !important;
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.25) !important;
}

.btn-secondary:active,
.btn-secondary.active {
	color: #FFFFFF;
    background-color:$btn-color;
    border-color: $btn-color;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #FFFFFF;
    background-color:$btn-color;
    border-color: $btn-color;
}

// global buttons

.btn{
    border: 0px solid transparent;
    padding-bottom: 15px !important;
}


// header

header{
	width: 100%;
	height: auto;
	box-shadow: 0px 0px 1px 1px rgba(226, 222, 231, 0.705);
}

header nav{
	height: auto;
}

header nav .navbar-nav{
    text-align: left !important;
}

header .navbar {
    margin-bottom: 0;
	background-color: rgba(255, 255, 255, 1) !important;
}

header #top_menu > li > a.nav-link{
    color: $navbar-text-color;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media (min-width: 1200px){
    header nav .container{
        max-width: 98%;
    }
}

@media (min-width: 768px) {

    header .navbar-expand-md .navbar-nav a.nav-link{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    header nav{
        height: 80px;
	}

	header .logo{
		z-index: 99;
	}

    header nav .container{
        max-width: 98%;
    }

    // header #top_menu{
	// 	margin-left: 100px !important;

	// }

	header #top_menu{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

	#user_info{
		padding: 8px 3px;
	}

	#log-in{
		margin-top: 2px;
	}

    header #top_menu .dropdown:hover > .dropdown-menu{
        left: 90% !important;
        transform: translateX(-10%) !important;
        top: 0% !important;
    }

    header #top_menu > li.nav-item.dropdown > .dropdown-menu {
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: 100% !important;
    }

    header .dropdown > .dropdown-menu {
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: 100% !important;
    }

    header .dropdown:hover > .dropdown-menu {
        display: block;
        z-index: 999 !important;
	}

	// header #top_menu > li > a.nav-link.active{
	// 	color: $navbar-bg-color;
	// 	background-image: linear-gradient(to right, rgb(170, 178, 250), rgb(226, 72, 231));
	// }

	header ul.dropdown-menu.show {
		display: none !important;
	}
}

@media (max-width: 768px) {
    .user-name{
        display: none;
    }

    .header-social{
        display: none;
    }
}

.user-img,
.shopping-cart{
    height: auto;
    width: auto;
}

#log-in,
.log-in,
#user-signup,
#livila_my_wish,
#livila_my_cart{
    transform: translateY(-2px);
}

#my_wish{
    display: none !important;
}

header ul.nav > li.divider {
    display: none !important;
}

header .dropdown-menu {
    min-width: 10em;
    width: auto !important;
    padding: 0.5rem;
    margin: 0;
    font-size: 0.875rem;
    color: $navbar-text-color;
    text-align: left; //
    background-color: $navbar-bg-color;
    border: 0px;
    border-radius: 0rem;
    box-shadow: 0px 0px 1px 1px rgba(226, 222, 231, 0.705);
}

header .dropdown,
header .dropdown-menu, ul{
    z-index: 999 !important;
}


header .dropdown .dropdown-menu::before,
header .dropdown .dropdown-menu::after {
    border: none;
    content: none;
}

header .dropdown-item {
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: #212529;
    text-align: inherit;
    background-color: transparent;
    white-space: inherit !important;
}

header .dropdown-item.active{
    color: $navbar-text-color;
    background-color: rgba($navbar-bg-color, .7);
}

header .dropdown-item:hover,
header .dropdown-item:focus {
    color: $navbar-bg-color;
    background-color: $navbar-text-color;
}

// footer

footer.footer{
    height: auto !important;
    width: 100% !important;
    background-color: $footer-bg-color !important;
    color: $footer-text-color;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer.footer .footer_logo{
	height: auto;
	width: 100%;
}

footer.footer .footer_logo img{
	height: 60px;
	padding: 10px 0px;
}

footer.footer  .footer_social_links{
	height: 60px;
	display: flex;
}

footer.footer .social_links{
	line-height: 60px;
}

footer.footer .float_links{
	float: right;
}

footer.footer .fa{
	padding: 20px;
	font-size: 18px;
    padding: 0px !important;
}

footer.footer a.social_link{
	margin: 5px;
	padding: 7px;
	border: 1px solid #fff;
}

footer.footer a{
    font-size: 12px;
    color: $footer-text-color;
    opacity: 0.7;
    margin: 0px;
}

footer.footer a:hover,
footer.footer .footer-slogan:hover,
footer.footer .para-block:hover{
    color: $footer-text-color;
    opacity: 1;
}

footer.footer h4{
	margin-top: 40px;
	font-size: 18px;
	font-weight: 200;
}

footer.footer .para-block{
    display: block;
    font-size: 12px;
    color: $footer-text-color;
    opacity: 0.7;
    margin: 0px;
}

footer.footer .para{
    padding: 4px 0px;
}


.block{
    display: block;
    padding: 2px 0px;
}

@media (max-width: 768px) {
	footer.footer .float_links{
		float: left;
	}
}

.appointment_booking{
    overflow-y: scroll;
    height: 310px;
    width: 100%;
}

.appointment_booking .btn{
    padding-bottom: 0.50rem !important;
}

.appointment_booking .card-header {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 2px 2px #e1e6ed;
}

.appointment_booking .btn-link {
    font-weight: 300;
    color: rgba(0,0,0,0.6);
}

.appointment_booking .btn-link:hover {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}

.appointment_booking .btn-link:focus,
.appointment_booking .btn-link.focus {
    text-decoration: none;
}

.booking_category_products{
    width: 100%;
    height: auto;
    padding: 15px 25px;
    border-bottom: 1px solid rgb(222, 221, 224);
}

.booking_category_product_price{
    font-size: 18px;
    font-weight: 200;
}

.appointment_booking .card-body {
    padding: 0rem;
}

div::-webkit-scrollbar{
	display: none;
}

.product_details_modal{
    position: absolute;
    height: calc(100vh - 165px);
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 99;
}

.product_details_modal_box{
    transition: .5s;
    margin-top: 30px;
    position: absolute;
    height: auto;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: 1011;
}

.product_details_modal_body{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.product_details_modal_body .vivre_btn{
	padding: 5px 20px;
}

.product_details_gridbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.modal_bottom_border{
    border-bottom: 1px solid #c8cbcf;
}

.product_details_header{
    padding: 20px;
    background-color: #f2e4e4;
}

.product_details_header h4{
    font-weight: 200;
    margin-bottom: 0px;
}

.product_details_modal_body p{
    font-weight: 200;
    padding: 10px 20px;
    margin-bottom: 0px;
}

.product_details_item{
    height: auto;
    width: 100%;
}

@media (max-width: 768px){


    .booking_category_product_details{
        padding-bottom: 15px;
    }

    .booking_category_products .vivre_btn{
    	padding: 15px 30px;
    }

    .product_details_modal_box{
        width: 340px;
    }

    .product_details_header{
        padding: 15px;
        background-color: #f2e4e4;
    }

    .product_details_modal_body p{
        padding: 10px 15px;
    }
}

@media (max-width: 320px){

    .product_details_modal_box{
        width: 300px;
    }

    .product_details_header{
        padding: 15px;
        background-color: #f2e4e4;
    }

    .product_details_modal_body p{
        padding: 10px 15px;
    }
}


.choose_appointment_booking{
    height: auto;
    width: 100%;
}

.choose_appointment_booking .heading{
    display: flex;
    padding-bottom: 15px;
}

.choose_appointment_booking .heading h3{
    font-weight: 300;
}

.choose_appointment_booking .heading img{
    height: 22px;
    padding-right: 10px;
    margin-top: 3px;
}

.choose_appointment_booking span.input-group-append > button{
    display: none;
}

.choose_appointment_booking .input-group > input {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

@media (min-width: 768px){
    .progress-wizard .progress-wizard-step {
        margin-top: 0.8125rem;
        float: left;
        width: 25%;
    }
}
