{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="hero_image_one">
        <div class="hero_image_one_box">
            <div class="hero_image_one_background_image">
                <img src="{% static 'images/hero.jpg' %}" alt="hero"/>
            </div>
            <div class="hero_image_one_cover">
                <div class="hero_image_one_slogan">
                    <h3>Where style meets creativity.</h3>
                </div>
                <div class="hero_image_one_content">
                    <p>We at Vivre turns dream styles into reality which you never imagine. We have industry best professional stylist who are creative, imaginative and experienced which give you the best style as you want.</p>
                    <div class="vivre_btn_box">
                        <a href="" class="vivre_btn" >Click For Booking</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
